#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header, .content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.shadowy-block {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  font-weight: 500;
}

.date, .astro-list_wrap, .header .locate, .map-wrap{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.header .locate, .map-wrap{
  width: 70%;
}

.date, .astro-list_wrap{
  width: 30%
}

.astro-list > div {
  padding: 10px;
  margin: 10px;
}

.astro {
  padding: 10px;
  margin-bottom: 10px;
}

.astro i{
  margin-right: 5px;
}

.shadowy-block.astro-list_footer{
  padding: 10px;
}

.header{
  height: 20%;
}

.content{
  height: 80%;
}

.map-wrap{
  padding: 0;
}

#map {
  height: 100%;
}

.astro-list_wrap{
  justify-content: space-between;
}